@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

a, a:hover {
    text-decoration: none;
}

#partners {
    background: #1c1616;
}

#getting {
    background: #1c1616;
}

#busy {
    background: #1c1616;
}

#result {
    background: #1c1616;
}

#header {
    background: url("./img/bg-img.png") no-repeat center/cover;
}

#hero {
    background: url("./img/bg-img.png") no-repeat center/cover;
    min-height: 100vh;
}